{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="container" style="display:flex; justify-content:space-between;">
    
    {% if doctors %}
        {% for doctor in doctors %}
        <a href="{% url 'doctor' doctor.id %}">
            <div style="cursor:pointer;">
                <h1>{{ doctor.name }}</h1>
                <h2>{{ doctor.position }}</h2>
                <h3>{{ doctor.degree }}</h3>
                <p>{{ doctor.speciality }}</p>
                <p>{{ doctor.institute }}</p>
            </div> 
        </a>
        {% endfor %}

    {% else %}
        <p>no Doctor Found</p>
    {% endif %}
</section>

{% endblock %}