<footer>
    <div id="container">
        <h3>Follow us on</h3>
        <div id="social-media-footer">
            <ul>
                <li>
                    <a href="#">
                        <i class="fab fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
            </ul>
        </div>
        <p>This Website is Created and owned by Al-amin and Sanjida Sultana Snigdha</p>
    </div>
</footer>