{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{%block style %}
<style>
     .bg-timing {
          background-color: rgb(44, 181, 151);
          color: white;
     }
     .font-time{
          color: rgb(255, 220, 82);
          font-weight: bold;

     }
</style>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="position-relative">
        <!-- Overlay Background -->
        <div class="overlay position-absolute top-0 start-0 w-100 h-100 bg-dark opacity-50"></div>
        <div class="row position-relative">
            <div class="col-md-4">
                <img src="{{ doctor.image.url }}" class="card-img-top img-fluid" alt="Doctor Image"
                    style="height: 100%; object-fit: cover;">
            </div>
            <div class="col-md-8">
                <div class="card-body text-white p-4">
                    <h2 class="card-title text-light mb-5">{{ doctor.full_name }}</h2>
                    <p class="card-text"><i class="fas fa-graduation-cap"></i> <strong
                            style="margin-left: 5px; margin-right: 5px;">Degree:</strong> {{ doctor.degree }}</p>
                    <p class="card-text"><i class="fas fa-stethoscope"></i> <strong
                            style="margin-left: 5px; margin-right: 5px;">Speciality:</strong> {{doctor.speciality.name}}
                    </p>
                    <p class="card-text"><i class="fas fa-hospital"></i> <strong
                            style="margin-left: 5px; margin-right: 5px;">Hospital:</strong> {{ doctor.hospital }}</p>
                    <p class="card-text"><i class="fas fa-phone"></i> <strong
                            style="margin-left: 5px; margin-right: 5px;">Phone Number:</strong> {{ doctor.phone_number}}
                    </p>
                    <p class="card-text"><i class="fas fa-location"></i> <strong
                            style="margin-left: 5px; margin-right: 5px;">Chamber Address:</strong> 
                            {{doctor.chamber_address}}
                    </p>
                    <div class="mt-5">
                        <a href="tel:{{doctor.phone_number}}" class="btn btn-light mr-2"><i
                                class="fa-solid fa-phone-volume mr-1"></i>Call Now</a>
                        <a href="{% url 'doctors:book_appointment' doctor_id=doctor.id %}"
                            class="btn btn-primary mr-2"><i class="fas fa-calendar-alt"></i> Book
                            Appointment</a>
                        <!-- Button trigger modal -->
                        <button type="button" class="btn btn-primary" data-toggle="modal"
                            data-target="#onineConsultancyModal">
                            <i class="fas fa-video"></i> Online Consultancy
                        </button>

                        <!-- Modal -->
                        <div class="modal fade w-100" id="onineConsultancyModal" tabindex="-1"
                            aria-labelledby="onineConsultancyModal" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="onineConsultancyModalLabel">Modal title</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form
                                            action="{% url 'doctors:online_consultancy_request' doctor_id=doctor.id %}"
                                            method="POST" style="color: rgb(94, 94, 94);">
                                            <div class="modal-body">
                                                {% csrf_token %}
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        {{ form.patient_name|as_crispy_field }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ form.mobile_number|as_crispy_field }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        {{ form.email|as_crispy_field }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ form.requested_datetime|as_crispy_field }}
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        {{ form.gender|as_crispy_field }}
                                                    </div>
                                                    <div class="col-md-6">
                                                        {{ form.symptoms|as_crispy_field }}
                                                    </div>
                                                </div>
                                            </div>

                                    </div>
                                    <div class="modal-footer">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                    </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

     <!-- Availability Section -->
     <div class="mt-5 text-center">
        <!-- <h3 class="mb-4" style="color: rgb(163, 163, 163);"><i class="fas fa-clock mr-2"></i>Doctor Availability</h3> -->


        <div class="d-flex justify-content-center">
             <div class="card mr-2 p-3 {% if doctoravailability.monday %} bg-timing  {% endif %}">
                  <strong>Monday</strong>
                  {% if doctoravailability.monday %}
                  <span class="font-time"> {{doctoravailability.monday_start_time}} -
                       {{doctoravailability.monday_end_time}} </span>
                  {% else %}
                  <span>Not Available</span>
                  {% endif %}
             </div>
             <div class="card mr-2 p-3 {% if doctoravailability.tuesday %}bg-timing  {% endif %}">
                  <strong>Tuesday</strong>
                  {% if doctoravailability.tuesday %}
                  <span class="font-time"> {{doctoravailability.tuesday_start_time}} -
                       {{doctoravailability.tuesday_end_time}} </span>
                  {% else %}
                  <span>Not Available</span>
                  {% endif %}
             </div>
             <div class="card mr-2 p-3 {% if doctoravailability.wednesday %}bg-timing  {% endif %}">
                  <strong>Wednesday</strong>
                  {% if doctoravailability.wednesday %}
                  <span class="font-time"> {{doctoravailability.wednesday_start_time}} -
                       {{doctoravailability.wednesday_end_time}} </span>
                  {% else %}
                  <span>Not Available</span>
                  {% endif %}
             </div>
             <div class="card mr-2 p-3 {% if doctoravailability.thursday %}bg-timing  {% endif %}">
                  <strong>Thursday</strong>
                  {% if doctoravailability.thursday %}
                  <span class="font-time"> {{doctoravailability.thursday_start_time}} -
                       {{doctoravailability.thursday_end_time}} </span>
                  {% else %}
                  <span>Not Available</span>
                  {% endif %}
             </div>
             <div class="card mr-2 p-3 {% if doctoravailability.friday %}bg-timing {% endif %}">
                  <strong>Friday</strong>
                  {% if doctoravailability.friday %}
                  <span class="font-time"> {{doctoravailability.friday_start_time}} -
                       {{doctoravailability.friday_end_time}} </span>
                  {% else %}
                  <span>Not Available</span>
                  {% endif %}
             </div>
             <div class="card mr-2 p-3 {% if doctoravailability.saturday %}bg-timing  {% endif %}">
                  <strong>Saturday</strong>
                  {% if doctoravailability.saturday %}
                  <span class="font-time"> {{doctoravailability.saturday_start_time}} -
                       {{doctoravailability.saturday_end_time}} </span>
                  {% else %}
                  <span>Not Available</span>
                  {% endif %}
             </div>
             <div class="card mr-2 p-3 {% if doctoravailability.sunday %}bg-timing  {% endif %}">
                  <strong>Sunday</strong>
                  {% if doctoravailability.sunday %}
                  <span class="font-time"> {{doctoravailability.sunday_start_time}} -
                       {{doctoravailability.sunday_end_time}} </span>
                  {% else %}
                  <span>Not Available</span>
                  {% endif %}
             </div>
        </div>
   </div>


    <!-- Tabs Section -->
    <ul class="nav nav-tabs mt-5" id="doctorInfoTabs" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link active" id="about-tab" data-bs-toggle="tab" data-bs-target="#about" type="button"
                role="tab" aria-controls="about" aria-selected="true">
                <i class="fas fa-info-circle" style="margin-right: 5px;"></i>About
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="qualifications-tab" data-bs-toggle="tab" data-bs-target="#qualifications"
                type="button" role="tab" aria-controls="qualifications" aria-selected="false">
                <i class="fas fa-graduation-cap" style="margin-right: 5px;"></i>Qualifications
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="expertise-tab" data-bs-toggle="tab" data-bs-target="#expertise" type="button"
                role="tab" aria-controls="expertise" aria-selected="false">
                <i class="fas fa-stethoscope" style="margin-right: 5px;"></i> Area Of Expertise
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="publications-tab" data-bs-toggle="tab" data-bs-target="#publications"
                type="button" role="tab" aria-controls="publications" aria-selected="false">
                <i class="fas fa-book" style="margin-right: 5px;"></i>Publications
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link" id="languages-tab" data-bs-toggle="tab" data-bs-target="#languages" type="button"
                role="tab" aria-controls="languages" aria-selected="false">
                <i class="fas fa-language" style="margin-right: 5px;"></i>Languages
            </button>
        </li>

    </ul>
    <div class="tab-content" id="doctorInfoTabsContent">
        <div class="tab-pane fade show active" id="about" role="tabpanel" aria-labelledby="about-tab">
            <p class="mt-3">{{ doctor.bio }}</p>
        </div>
        <div class="tab-pane fade" id="qualifications" role="tabpanel" aria-labelledby="qualifications-tab">
            {% for qual in qualification %}
            <div class="card mt-3 d-flex p-2">
                <h5>{{qual.degree}}</h5>
                <span>{{qual.institution}}</span>
                <small>{{qual.year}}</small>
            </div>

            {% endfor %}
        </div>
        <div class="tab-pane fade" id="expertise" role="tabpanel" aria-labelledby="expertise-tab">
            {% for exp in expertise %}
            <div class="card mt-3 d-flex p-2">
                <h5>{{exp.speciality.name}}</h5>
                <p>{{exp.details}}</p>
            </div>

            {% endfor %}
        </div>

        <div class="tab-pane fade" id="publications" role="tabpanel" aria-labelledby="publications-tab">
            {% for pub in publication %}
            <div class="card mt-3 p-3">
                <h5>{{pub.title}}</h5>
                <span>{{pub.journal}},</span>
                <small>{{pub.publication_date}}</small>
            </div>

            {% endfor %}
        </div>

        <div class="tab-pane fade" id="languages" role="tabpanel" aria-labelledby="languages-tab">
            <div class="mt-3">
                <ul>
                    {% for lang in doctor.languages.all %}
                    <li><span>{{lang.language}}</span></li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
</div>
{% endblock %}