{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="container" style="display:flex; justify-content:space-between;">

    {% if doctors %}
    <section class="container py-5">
        <h2 class="text-center mb-5">Meet Our Specialists</h2>
        <div class="row">
            {% for doctor in doctors %}
            <div class="col-md-4 mb-4">
                <div class="card">
                    <img src="{{doctor.image.url }}" class="card-img-top" alt="{{ doctor.full_name }}"
                        style="object-fit: fill; height: 360px; width: 100%;">
                    <div class="card-body">
                        <h5 class="card-title">{{ doctor.full_name }}</h5>
                        <p class="card-text">{{ doctor.speciality }}</p>
                        <p class="card-text"><small class="text-muted">{{ doctor.hospital }}</small></p>
                    </div>
                    <a href="{% url 'doctors:doctor_profile' doctor_id=doctor.id %}" class="btn btn-light">View Profile
                        &nbsp;<i class="fa-solid fa-arrow-right"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    {% else %}
    <p>no Doctor Found</p>
    {% endif %}
</section>

{% endblock %}