body{
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
}

.container{
	max-width: 1440px;
	margin: 0 auto;
	padding: 0 10px;
}

img{
	max-width: 100%;
	width: 100%;
}

p{
	margin-bottom: 25px;
}

.section-heading{
	background: rgb(230, 216, 216);
	font-size: 36px;
	border-style: solid;
	border-width: 0 4px;
	border-color: #111;
	border-radius:19px;
	transition: all 0.4s ;
	text-align: center;
	text-decoration: none;
	padding: 8px 32px;
	max-width: 100%;
	width: 50%;
	margin:20px auto;
}

.section-heading:hover{
	background: #999;
	padding: 8px 42px;
	color: #fff;
	cursor: pointer;
	width: 60%;

}


a{
	text-decoration: none;
	color: black;
}

a:hover{
	text-decoration: underline;
}

input:focus,
textarea:focus{
	outline: none;
}

input.search_box{
	height: 50px;
	padding: 0 16px;
	font-family: 'century Gothic', 'sans-serif';
	font-size: 20px;
	border:none;
	box-shadow:inset 8px 3px 18px -4px rgba(0,0,0,0.4); 
	width: 25%;
}

#banner{
	height:100vh;
	display: flex;
	align-items:center;
	justify-content: center;
	flex-direction: column;
	background: rgba(0,0,0,0.2) url('img/10.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-blend-mode: overlay;
	color: white;
}

#banner h3 {
	background: black;
	border-radius: 8px;
	padding: 0 24px;
	font-size: 24px;

}
 
nav{
	height:72px;
	background: #202125;
	font-family: 'century Gothic',sans-serif;
	font-size: 20px;
	padding: 20px 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav a{
	color:#eee;
}

nav a:hover {
	text-decoration: none;
	color: red;
}

nav ul{
	display: flex;
	list-style: none;
	justify-content: space-between;
	align-items: center;
	padding-left: 500px;
	width: 30%;
}
#logo-img{
	display:flex;
	height: 100%;
	background: #111;
	padding: 0 32px;
	align-items: center;
	color: white;
	transition: 0.4s
}

#logo-img img{
	max-width: 100%;
	height: 50px;
}

#menu-icon{
	height: 100%;
	font-size: 28px;
	padding: 0 4px;
	color: #eee;
	display: none;
	align-items: center;
}

#search-icon{
	color: white;
	padding: 0 32px;
	cursor: pointer;
	transition: 0.4s;
}

#search-icon:hover{
	color: red;
}


.card-image{
	transition: 0.4s;
}

.card .card-image img{
	height: 300px;
	object-fit: cover;
}

.card-image:hover{
	box-shadow: 0 10px 6px -6px #777;
}

.card .card-description{
	padding: 0 8px;
}

.card-meta-blogspot{
	color: #333;
	font-size: 14px;
	padding: 16px;
	font-family: 'century Gothic';
}

.card-meta-blogspot a{
	color: #333;
}

.btn-readmore{
	padding: 8px 24px;
	border: 3px solid black;
	transition: 0.4s;
	font-weight: bold;
	cursor: pointer;
	background: white;
}

.btn-readmore:hover{
	background: red;
	text-decoration: none;
	padding: 8px 64px 8px 24px;
	color: white;
}

footer{
	background: black;
	padding: 8px;
	color: #eee;
	display: flex;
	justify-content: center;
    align-items: center;
    text-align: center;
	margin-top: 20px;
}

footer a{
	color: #fff;
	font-size: 26px;
}

footer ul{
	list-style: none;
	display: flex;
	justify-content: space-evenly;
}

.page-heading{
	font-size: 32px;
	font-family: 'century Gothic';
	border-left: 3px solid black;
	border-right: 3px solid black;
	transition: all 0.4s;
	display: inline-block;
	padding: 4px 32px;
	margin-top: 120px;
}

.page-heading:hover{
	padding: 4px 48px;
	background: red;
}

.card-meta{
	color: #333;
	font-size: 14px;
	padding-left: 8px;
	font-family: 'century Gothic';
}

.card-meta a{
	color: #333;
}

.pagination{
	padding: 8px;
	text-align: center;
	font-weight: bold;
}

.pagination a{
	border-top: 3px solid white;
	display: inline-block;
	padding: 8px 16px;
	transition: 0.4s;
}

.pagination a:hover{
	text-decoration: none;
	border-top: 3px solid black;
}

#blogpost{
  display: flex;
  flex-direction:column;
  width:70%;
  border-left:1px solid #999;
}


#blogpost .card{
  width:100%;
}

#blogpost .card-image:hover{
  box-shadow: none;
}

#sidebar{
  background:#333;
  flex:1;
  padding: 8px 16px;
  color:white;
  box-shadow: inset 27px 0 51px -18px rgba(0,0,0,0.75);
}

#comments-section{
  border-top: 2px solid #eee;
  padding:8px;

}

/* Specialists */

.specialties {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
  }

  .specialty {
	width: 30%;
	margin-bottom: 20px;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 5px;
  }

  .specialty h3 {
	margin-bottom: 5px;
  }

  /* End Specialties */


/* Pages */

h1 {
	color: #333;
}

.button {
	padding: 15px 30px;
	font-size: 16px;
	margin: 0 20px;
	cursor: pointer;
}

#doctor {
	background-color: #3498db;
	color: #fff;
	border: none;
}

#user {
	background-color: #2ecc71;
	color: #fff;
	border: none;
}

/* Doctor Listing Start */
.doc_list_title {
	padding: 20px 10px;
	text-align: center;
	font-size: 36px;
}
.doc_listing{
	display: flex;
	justify-content: center;
	align-items: start;
	flex-wrap: wrap;
	padding: 20px 10px 100px;
}
.doc_card {
	max-width: 23.5%;
	width: 20%;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	text-align: center;
	font-family: arial;
	margin-top: 20px;
	margin-right: 23px;
  }
  
  .doc_card .title {
	color: grey;
	font-size: 18px;
  }
  
  .card_btn {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: #000;
	text-align: center;
	cursor: pointer;
	width: 100%;
	font-size: 18px;
  }
  
  .doc_card a {
	text-decoration: none;
	font-size: 22px;
	color: black;
  }
  
  .card_btn:hover, .doc_card a:hover {
	opacity: 0.7;
  }
/* Doctor Listing End */

/* End Page */

@media(max-width: 900px){
	nav ul{
		display: none;
	}

	#menu-icon{
		display: flex;
	}
}

@media(max-width: 719px){
	main{
		width: 95%;
	}

	section{
		flex-direction: column;
	}

footer{
	flex-direction: column;
	text-align: center;
}
footer #left-footer{
	flex: 1;
	border-right: 0;
	padding-left: 0;
}

footer{
	background: #eee;
	color: black;
	text-align: center;
	justify-content: center;
    align-items: center;
    text-align: center;
}


footer #right-footer a {
	color: black;
}
footer #social-media-footer a .fa-facebook,
footer #social-media-footer a .fa-youtube,
footer #social-media-footer a .fa-github{
	color: black;
	transition: 0.4s;

}

@media(max-width: 600px){
	maina{
		width: 100%;
	}
}

h1{
	font-size: 48px;
}

h3{
	font-size: 48px;
}

#banner h3{
	font-size: 20px;
}


.card{
	text-align: center;
}

#logo-img{
	padding:0;
}
}

@media(min-width: 720px){
	main{
		width: 95%
	}
}

@media(min-width:1200px){
	main{
		width: 85%;
	}
}