.btn-primary {
	background-color: rgb(37, 142, 218);
	color: white;
}

.btn-success {
	background-color: rgb(44, 181, 151);
	color: white;
}



.bg-primary {
	background-color: rgb(37, 142, 218);
	color: white;
}

.bg-success {
	background-color: rgb(44, 181, 151);
	color: white;
}